.header {
    background: fade-out( black, .3);
}

.header__content {
    padding: $small 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    &-text {
        color: $white;
        font-size: $xlarge;
        font-weight: 300;
        margin: 0;
        span {
            background: linear-gradient($logo-blue, $primary);
            background: -webkit-linear-gradient($logo-blue, $primary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}