.list-wrap {
    margin-bottom: $large;
}

.list-header {
    display: flex;
    justify-content: space-between;
    background: fade-out( $black, .4);
    color: $white;
    padding: $small $medium;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background: fade-out( $black, .8);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
    padding: $medium;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: fade-out( $black, .4);
    }
}

.list-item__desc {
    margin: 0;
    word-break: break-all;
    letter-spacing: 1px;
    font-weight: 400;
}

.list-item__date {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
}

.list-item__amount {
    margin: 0;
    padding-left: $small;
    font-size: 2.5rem;
    font-weight: 400;
}

.list--message {
    align-items: center;
    justify-content: center;
    padding: $medium;
    &:hover {
        background: none;
    }
    h3 {
        font-weight: 300;
        letter-spacing: 1px;
    }
}