.page-header {
    // background: rgba(0, 36, 78, .5);
    padding: $large 0;
    margin-bottom: $large;
}

.page-header__link {
    margin-top: $medium;
}

.page-header__text {
    color: $white;
    font-weight: 300;
    margin: 0;
    span {
        background: linear-gradient(to bottom right, $tertiary, $primary);
        background: -webkit-linear-gradient(to bottom right, $tertiary, $primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }
}