
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    cursor: crosshair;
}

body {
    color: $grey-dark;
    font-family: $primary-font;
    font-size: $medium;
    line-height: 1.6;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
    }
}

.is-active {
    font-weight: 500;
    color: red;
}
