// ========================
// -       COLORS
// ========================
$white: #fff;
$black: #000;
$grey-dark: #333;

$primary: #ff4500;
$secondary: #00152c;

$google-blue: #3369e8;
$logo-blue: #5555ff;

// ========================
// -       FONTS
// ========================
$primary-font: 'Raleway', sans-serif;


// ========================
// -       SIZES
// ========================

$small: 1.2rem;
$medium: 1.6rem;
$large: 3.2rem;
$xlarge: 4.8rem;


// ========================
// -     BREAKPOINTS
// ========================

$desktop-bp: 45rem;